<html>
  <head>
    <style></style>
  </head>
  <body>
    <form>
      String:<br>
      <input type='text' name='str' style="width: 500px;"><br><br>
      Shift (between 1 and 25):<br>
      <input type='number' name='shift' min='1' max='25' style="width: 35px;"><br><br>
      <input type='submit' value='Cipher!'>
    </form>
    <p style="color: red;">
      <%= new_string %>
    </p>
  </body>
</html>
